---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Добро пожаловать!</h1>
			<p>
				TEXT22222222222222222222222222222222222222222222222222222222222222222222222222222222222222222
			</p>
			<p>
				TEXT33333333333333333333333333333333333333333333333333333333333333333333333333333333333
			</p>
			<p>Here are a few ideas on how to get started with the template:</p>
			<p>
				TEXT4444444444444444444444444444444444444444444444444444444444444444444444444444444
			</p>
			<p>
				TEXT666666666666666666666666666666666666666666666666666666666666666666666666666666666
			</p>
			<p>
				TEXT55555555555555555555555555555555555555555555555555555555555555555555555555555555555
			</p>
		</main>
		<Footer />
	</body>
</html>
